*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {  margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}

svg[Attributes Style] {
    fill: rgb(255, 255, 255);
}

svg:not(:root), symbol, image, marker, pattern, foreignObject {
    overflow: hidden;
}

html|* > svg {
    transform-origin: 50% 50% 0px;
}

a {
    color: inherit;
    outline: 0;
}

a, u {
    text-decoration: none;
}

p{
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h1, h2, h3, h4, h5, h6, li, ol, ul {
    margin-bottom: 0;
    padding-bottom: 0;
}

ul {
    margin-top: 0;
    padding-left: 0;
    list-style: none;
    
}

ol {
    display: block;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 20px;
}

body{
    position: relative;
    width: 100%;
    background: #fff;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}


.wrapper{
	width: 100%;
	min-height: 100vh;
	position: relative;
}

.menu{
	width: 100%;
    position: absolute;
    top: 0;
    left: 0;
	z-index: 1000;
}

.menu-container{
	max-width: 1170px;
	margin: 0 auto;
	box-sizing: border-box;
}

.menu-logo{
	margin-top: 38px;
	float: left;
	
}
.unselectable{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select:none;
    -khtml-user-select: none;
    user-select: none;
}

.menu-main{
	float: right;
}

.menu-item{
	display: block;
	font-size: 16px;
	float: left;
	color: #fff;
	line-height: 8.750em;
}

.menu-item a{
	padding: 0 20px;
}

.menu-item:nth-child(1) a{
	padding: 0 20px 0 0;
}

.menu-item:last-child a{
	padding: 0 0 0 20px;
}

.header{
	width: 100%;
    overflow-x: hidden;
    color: #fff;
}

.slider{
	position: relative;
	background: url('../img/1.jpg');
	background-color: rgba(0,0,0,.7);
	background-blend-mode: darken;
	min-height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.description{
	width: 100%;
	max-width: 600px;
	margin: auto;
	color: #fff;
	text-align: center;
	padding-top: 15em;
	letter-spacing: .5px;	
}

.description h3{
	font-size: 28px;
    font-weight: 300;
	padding-bottom: 20px;
}

.description h2 {
    font-size: 45px;
    font-weight: 700;
	padding-bottom: 20px;

}

.description p{
	font-size: 18px;
	line-height: 24px;
}

.btn{
	margin-top: 80px;
	text-align: center;
}

.btn a{
	background: #998675;
    padding: 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    -webkit-box-shadow: #736357 0 4px;
    box-shadow: #736357 0 4px;
}

.content{
	width: 100%;
	padding: 5.313em 0 0;
}

.services{
	max-width: 1170px;
	margin: 0 auto 5.313em;
}

.services-list{	
	display: flex;
	display: -webkit-box;
    display: -ms-flexbox;
	margin: 0 -1.5%;
}

.service-list-item{
	max-width: 22%;
	min-height: 30px;
	margin: 1.5%;
	box-sizing: border-box;
	text-align: center;
}

.service-icon{
	min-height: 55px;
}

.service-info{
	padding: 10px 0;
}

.service-title{
	color: #555555;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 10px;
	line-height: 1.875em;
}

.service-text{
	line-height: 1.5em;
	color: #8c8c8c;
}

.line {
    width: 30%;
    height: 3px;
    margin: 30px auto 0 auto;
    background: #f1eee9;
}

.realization{
	width: 100%;
	padding: 2em 0 0;
	background: #fbfaf8;
}

.realization-list{
	max-width: 1170px;
	margin: 0 auto;
}

.realization-info{
	width: 70%;
	margin: 5em auto;
	text-align: center;
}

.realization-title{
	font-size: 30px;
	color: #555555;
	margin-bottom: 33px; 
}

.realization-text{	
	font-size: 16px;
	color: #8c8c8c;
	line-height: 2.25em;
}

.realization-bg{
	position: relative;
    width: 100%;
	line-height: 0;
}

.realization-bg img{
	width: 100%;
}

.text-boxes{
	width: 100%;
	background: #241d1a;
}

.text-boxes-list{
	position: relative;
	max-width: 1170px;
	padding: 3.438em 1.875em;
	margin: 0 auto;
}

.text-boxes-txt{
	display: inline-block;
}

.text-boxes-txt h3{
	font-size: 28px;
	font-weight: 400;
	margin-bottom: 15px;
	color: #fff;
}

.text-boxes-txt span{
	color: #c7b299;
}

.text-boxes-txt p{
	font-size: 18px;
	color: #615855;
}

.text-boxes-btn{
	float: right;
}

.text-boxes-btn a{
	background: #998675;
    padding: 20px 28px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    -webkit-box-shadow: #736357 0 4px;
	color: #fff;
    box-shadow: #736357 0 4px;
	text-transform: uppercase;
	float: right;
	cursor: pointer;
}

.projects{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 5em 0 10em;
}

.projects-title{
	max-width: 750px;
	margin: 0 auto;
	text-align: center;
}

.projects-title h3{
	font-size: 30px;
	color: #555555;
	margin-bottom: 15px;
}

.projects-title p{
	font-size: 16px;
	font-weight: 400;
	color: #8c8c8c;
	line-height: 2.25em;
}

.projects-categories{
	width: 100%;
	margin: 40px auto;
	text-align: center;
}

.projects-categories-item{
	padding: 10px 25px;
	box-sizing: border-box;
	border: 1px solid #ebebeb;
	border-radius: 3px;
	font-size: 14px;
	color: #8c8c8c;
	display: inline-block;
	margin: 0 5px;
	cursor: pointer;
}

.projects-categories-item:hover{
	color: #fff;
	background: #998675;
	border: 1px solid #998675;
}

.projects-categories-item-active{
	color: #fff;
	background: #998675;
	border: 1px solid #998675;
}

.projects-list{
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;	
	flex-wrap: wrap;
	margin: 0 -2%;
}

.projects-list-item{
	width: 29.2%;
    margin: 2%;
    box-sizing: border-box;
    min-height: 400px;
}

.projects-list-item-img{
	width: 100%;
	line-height: 0;
}

.projects-list-item-img img{
	max-width: 100%;
	height: auto;
}

.projects-list-item-info{
	position: relative;
	width: 100%;
	background: #fbfaf8;
	padding: 34px 28px;
}

.projects-list-item-info span{
	position: absolute;
    top: -20px;
    left: 20px;	
	width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #fbfaf8;
   
}

.projects-list-item-info h3{
	font-size: 20px;
	font-weight: 400;
	color: #c7b299;
	margin-bottom: 15px;
}

.projects-list-item-info p{
	font-size: 14px;
	color: #d1d1d1;
}

.projects-btn{
	text-align: center;
	margin-top: 40px
}

.projects-btn a{
	padding: 19px 44px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    background: #998675;
    -webkit-box-shadow: #736357 0 4px;
    box-shadow: #736357 0 4px;
}

.presentation{
	background-blend-mode: darken;
    background: url(../img/bg-video.jpg);
	background-color: rgba(0,0,0,.5);
    color: #fff;
    width: 100%;
	padding: 13em 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
}

.presentation-play-video{
	width: 100%;
	text-align: center;
}

.presentation-info{
	text-align: center;
	max-width: 500px;
	margin: 0 auto;
}

.presentation-info h3{
	font-size: 30px;
	font-weight: 400;
	color: #fff;
	margin-bottom: 30px;
}

.presentation-info p{
	font-size: 16px;
	color: #fff;
	line-height: 30px;
	margin-bottom: 40px;
}

.presentation-info span{
	font-size: 16px;
	font-weight: 700;
	color: #c7b299;
}

.mob-devices{
	width: 100%;
	max-width: 1170px;
	margin: 80px auto 0;
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;	
	line-height: 0;
}

.mob-devices-img{
	width: 40%;
}

.mob-devices-info{
	margin-top: 120px;
	width: 60%;
}

.mob-devices-info h3{
	font-size: 30px;
	font-weight: 700;
	color: #555555;
	margin-bottom: 40px;
}

.mob-devices-info p{
	font-size: 18px;
	color: #8c8c8c;
	line-height: 25px;
}

.mob-devices-list{
	margin-top: 50px;
	margin-left: 80px;
	position: relative;
}

.mob-devices-list p{
	font-size: 18px;
	color: #8c8c8c;
	line-height: 25px;
	margin-bottom: 10px;
}

.mob-devices-list p:before{
	content: "";
    width: 30px;
    height: 30px;
    background: url(../img/arrow.png) no-repeat center center;
    display: inline-block;
    position: absolute;
    left: -50px;
    margin-top: -3px;
	
}

.counters{
	width: 100%;
	background: linear-gradient(to right,#211b19,#4e3427);
}

.counters-list{
	max-width: 1170px;
	margin: 0 auto;
	padding: 5em 0 3.75em 0;
}

.counters-items{
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
	margin: 0 -2%;
}

.counter-item{
	width: 16%;
	margin: 0 2%;
	box-sizing: border-box;
	text-align: center;
}

.counter-item-img{
	width: 100%;
	text-align: center;
	margin-bottom: 30px; 
}

.counter-item-info h3{
	font-size: 48px;
	font-weight: 400;
	color: #fff;
	margin-bottom: 20px;
}

.counter-item-info p{
	font-size: 14px;
	color: #c7b299;
	text-transform: uppercase;
}

.counter-item-line{
	width: 25%;
	margin: 30px auto 0;
	height: 2px;
	background: #fff;
}

.posts{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 5em 0;
}

.posts-info{
	max-width: 750px;
    margin: 0 auto;
    text-align: center;
}

.posts-info h3{
	font-size: 30px;
    color: #555555;
    margin-bottom: 15px;
}

.posts-info p{
	font-size: 16px;
    font-weight: 400;
    color: #8c8c8c;
    line-height: 2.25em;
}

.posts-items{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2%;
}

.posts-item{
	width: 29.2%;
    margin: 2%;
    box-sizing: border-box;
	position: relative;
	border-radius: 3px;
}

.posts-item-img{
	width: 100%;
    line-height: 0;
}

.posts-item-data{
	position: absolute;
    top: 3%;
    left: 3%;
    text-align: center;
	width: 16%;
	background: #363636;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.post-item-day{
	font-size: 14px;
	color: #fff;
	padding: 9px 0px;
	background: #363636;
}

.post-item-month{
	font-size: 12px;
	color: #fff;
	padding: 9px 0px;
	background: #252525;
}

.posts-item-img img{	
	max-width: 100%;
    height: auto;
}
	
.post-item-text{
	width: 100%;
	box-sizing: border-box;
	padding: 35px 28px;
	border: 1px solid #f8f8f8;
	border-top: none;
}
	
.post-item-text h3{
	font-size: 20px;
	color: #555555;
	font-weight: 400;
	margin-bottom: 24px;
}	

.post-item-text p{
	font-size: 14px;
	color: #8c8c8c;
	line-height: 22px;
	margin-bottom: 30px;
}	
	
.post-item-text a{
	font-size: 14px;
	color: #c7b299;
}	

.post-item-text a img{
	margin-left: 10px;
}	

.posts-arrows{
	max-width: 100%;
	text-align: center;
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
	justify-content: center;
}

.posts-arrows-left, .posts-arrows-right{
	margin: 0 0.5%;
}

.partners{
    overflow-x: hidden;
	background:url(../img/partners_bg.jpg);
	background-blend-mode: darken;
    background-color: rgba(0,0,0,.7);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
}

.partners-list{
	max-width: 1170px;
	margin: 0 auto;
	padding: 8.75em 0;
}

.partners-items{
	width: 100%;
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
	align-items: center;
	margin: 0 -1.5%;
}

.partners-item{
	width: 22%;
	margin: 1.5%;
	text-align: center;
}

.partners-item img{
	max-width: 100%;
}

.footer{
	width: 100%;
	background: #191919;
	color: #555555;
}
	
.footer-wrapper{
	max-width: 1170px;
	margin: 0 auto;
	padding: 4.5em 0;
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
}

.footer-main-column{
	width: 22%;
	margin: 1.5%;
}

.footer-main-logo{
	max-width: 100%;
	margin-bottom: 30px;
}

.footer-main-logo img{
	max-width: 100%;
}

.footer-main-title{
	margin-top: 20px;
}

.footer-main-title p{
	font-size: 24px;
	font-weight: 400;
	color: #fff;
}

.footer-main-about-us{
	max-width: 100%;
	margin-bottom: 30px;
}

.footer-main-about-us p{
	font-size: 14px;
	color: #555555;
	line-height: 20px;
}

.footer-main-read-more{
	font-size: 14px;
	color: #d1d1d1;
}

.footer-list-items{
	margin-top: 30px;
}

.footer-list-item{
	border-bottom: 1px solid #252525;
	padding-bottom: 22px;
	margin-bottom: 16px;
}

.footer-list-items :last-child .footer-list-item{
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

.footer-list-item  span{
	font-size: 12px;
	color: #363636;
	
}

.footer-list-item p{
	font-size: 14px;
	color: #555555;
	line-height: 20px;
	margin-top: 5px;
}

.footer-list-tweets{
	margin-top: 30px;
}

.footer-list-tweet{
	border-bottom: 1px solid #252525;
	padding-bottom: 22px;
	margin-bottom: 16px;
}

.footer-list-tweets :last-child .footer-list-tweet{
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

.footer-list-tweet p span{
	color: #00bff3;
}

.footer-list-tweet p a{
	color: #959595;
}

.footer-list-tweet p{
	font-size: 14px;
	color: #555555;
	line-height: 20px;
	margin-bottom: 5px;
}

.footer-list-tweet span{
	font-size: 12px;
	color: #363636;
}

.footer-list-images{
	width: 100%;
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	margin: 30px -2% 0;
}

.footer-list-image{
	width: 46%;
	margin: 0 2% 2%;
}

.footer-list-image img{
	max-width: 100%;
}

.footer-container{
	width: 100%;
	background: #111111;
	color: #555555;
}

.footer-container-info{
	max-width: 1170px;
	margin: 0 auto;
	padding: 40px 0;
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;	
}

.footer-container-contact{
	width: 50%;
}

.footer-container-aboutus{
	width: 50%;
}

.footer-container-aboutus ul{
	float: right;
}
	
.footer-container-contact ul li{
	font-size: 13px;
	color: #555555;
	display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
	border-right: 1px solid #555555; 
}	

.footer-container-contact ul li:last-child{
    padding-right: 0;
	border-right: none; 
}	

.footer-container-contact ul li:first-child{
	padding-left: 0; 
}	

.footer-container-aboutus ul li{
	font-size: 13px;
	color: #555555;
	display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
	border-right: 1px solid #555555; 
}	

.footer-container-aboutus ul li:last-child{
    padding-right: 0;
	border-right: none; 
}	

.footer-container-aboutus ul li:first-child{
	padding-left: 0; 
}


	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	